<div class="products">
  <div class="categories">
    <ul>
      <li class="item1">Bread</li>
      <li class="item2">Fruits</li>
      <li class="item3">Veggies</li>
      <li class="item4">Drinks</li>
      <li class="item5">Others</li>
    </ul>
  </div>
  <div class="card-group">
    <div class="card">
      <a routerLink="/details">
        <img
          class="card-img-top"
          src="../../assets/img/bread_1.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Loaf</h5>
        <p class="card-text">Fresh bread daily baked</p>
        <p class="card-text">
          <small class="price">23.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_2.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Tasty pie</h5>
        <p class="card-text">Our speciality</p>
        <p class="card-text">
          <small class="price">10.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_3.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">French toast</h5>
        <p class="card-text">Everyone loves it!</p>
        <p class="card-text">
          <small class="price">3.80$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_1.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Loaf</h5>
        <p class="card-text">Fresh bread daily baked</p>
        <p class="card-text">
          <small class="price">23.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_2.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Tasty pie</h5>
        <p class="card-text">Our speciality</p>
        <p class="card-text">
          <small class="price">10.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_3.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">French toast</h5>
        <p class="card-text">Everyone loves it!</p>
        <p class="card-text">
          <small class="price">3.80$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_1.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Loaf</h5>
        <p class="card-text">Fresh bread daily baked</p>
        <p class="card-text">
          <small class="price">23.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_2.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Tasty pie</h5>
        <p class="card-text">Our speciality</p>
        <p class="card-text">
          <small class="price">10.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_3.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">French toast</h5>
        <p class="card-text">Everyone loves it!</p>
        <p class="card-text">
          <small class="price">3.80$</small>
        </p>
      </div>
    </div>
  </div>
</div>
