<div class="detailsContainer">
  <div class="img">
    <img src="../../assets/img/bread_2.jpeg" width="500" height="auto" />
  </div>
  <div class="specs">
    <div class="main">
      <h2 class="heading">Loaf</h2>
      <p>Description about the loaf bread</p>
      <p class="price">23.9$</p>
    </div>
    <div class="history">
      <h2 class="heading">History</h2>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur
      laudantium vitae qui natus dolorem placeat impedit ipsum accusamus, alias
      tenetur voluptatem, suscipit inventore. Asperiores
    </div>
    <button class="cart">Add to cart</button>
  </div>

  <div class="faq">
    <ul>
      <li>
        <p>Q:can I play free fire</p>
        <p>A:yes you can play ,if you know how to play.</p>
      </li>
      <li>
        <p>
          Q:Which all functions can Smart Fingerprint Sensor of SPARK Power 2
          perform in addition to unlocking the phone?
        </p>
        <p>A:Accept and Record Calls, Click a Picture, Dismiss Alarm.</p>
      </li>
      <li>
        <p>Q:How many service centers does TECNO have across India ?</p>
        <p>A:TECNO has over 970+ service centers across India</p>
      </li>
    </ul>
  </div>
</div>

<div class="products">
  <h1 class="heading">Similar products</h1>

  <div class="card-group">
    <div class="card">
      <a routerLink="/details">
        <img
          class="card-img-top"
          src="../../assets/img/bread_1.jpeg"
          alt="Card image cap"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">Loaf</h5>
        <p class="card-text">Fresh bread daily baked</p>
        <p class="card-text">
          <small class="price">23.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_4.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Pizza</h5>
        <p class="card-text">Just like at Italy</p>
        <p class="card-text">
          <small class="price">15.99$</small>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="../../assets/img/bread_3.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">French toast</h5>
        <p class="card-text">Everyone loves it!</p>
        <p class="card-text">
          <small class="price">3.80$</small>
        </p>
      </div>
    </div>
  </div>
</div>
